#home .ui-listview .ui-btn.song { background-position: 0px 0px;}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}

.inputfile + label * {
	pointer-events: none;
}

.numberCircle {
    border-radius: 50%;

    width: 10px;
    height: 10px;
    padding: 4px;

    background: blue;
    border: 2px solid #666;
    color: white;
    text-align: center;

    font: 11px Arial, sans-serif;
}

#map_canvas { /* Must bigger size than 100x100 pixels */
	margin-top: 15px;
	margin: auto;
	width: 95%;
	height: 500px;
	float:center;
}

#custom-grid .ui-block-a {
    width: 80% !important;
		padding-top: 10px;
}

#custom-grid .ui-block-b {
    width: 20% !important;
}

/*
 * BLOCK 2
 */

#custom-grid-movies .ui-block-a {
    width: 25% !important;
    padding-top: 10px;
}

#custom-grid-movies .ui-block-b {
    width: 75% !important;
}

/*
 * BLOCK 4
 */

#custom-grid-movies-4 .ui-block-a {
    width: 25% !important;
    padding-top: 10px;
}

#custom-grid-movies-4 .ui-block-b {
    width: 25% !important;
}

#custom-grid-movies-4 .ui-block-c {
    width: 25% !important;
    padding-top: 10px;
		padding-left: 10px;
}

#custom-grid-movies-4 .ui-block-d {
    width: 25% !important;
}

#custom-grid-spoti .ui-block-a {
    width: 80% !important;
    vertical-align: middle;
}

#custom-grid-spoti .ui-block-b {
    width: 20% !important;
    vertical-align: middle;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}

.ui-footer{
	height:48px;
}

/*
.custom-footer .ui-btn .ui-btn-inner {
	padding-top: 40px !important;
}

.custom-footer .ui-btn .ui-icon {
	width: 30px!important; height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

#covers_btn_fo2  {
	 background:  url('../images/icons/edicola-icon.png') 50% 50% no-repeat;
	background-size: 32px 32px;
	 background-color: #ffffff;
}
*/

.ui-icon-myicon:after {
    background-image: url("../images/icons/spoti-icon.png");
    /* Make your icon fit */
    background-size: 18px 18px;
}

.ui-icon-eur {
	background-image: url("../images/icons/geolocation-icon.png");
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: left;
	margin-right: 25px;
}
